<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="language" content="zh-CN">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<meta name="renderer" content="webkit">
		
		<link rel="stylesheet" type="text/css" href="../css/shop.css" />
		<link rel="stylesheet" type="text/css" href="../css/myPagination.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/loading.css" />
		<title>商品搜索</title>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="../js/jquery-3.3.1.js"></script>
		<script src="../js/myPagination.js"></script>
		<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	</head>


	<body data-appid="1" data-in="1">


		<div class="new_home">
			<div class="public-header">
				<div class="public-header-top">
					<div class="public-wrap">
						<div class="p-h-top">
							<span>欢迎来到熊猫商城</span>
							<a class="login" href="login.html">请登录</a>
							<a class="register" href="register.html">免费注册</a>
							<ul>
								<li style="position: relative;"><a class="touxiang" href="#777"><img class="touxiang_img" src="img/touxiang.jpg"
										 alt=""></a>
									<div class="user_panel" id="user_panel">
										<div class="user_content">
											<div class="user_top">
												<a href="javascript:void(0)">
													<img src="img/touxiang.jpg">
												</a>
												<div>张小三</div>
											</div>
											<div class="user_footer" style="margin-top: 15px;cursor: pointer;">
												退出登录
											</div>
										</div>
									</div>
								</li>
								<li><a href="#0">会员中心</a></li>
								<li><a href="#0">手机版</a></li>
								<li><a href="#0">商家支持</a></li>
								<li><a href="#0">购物车</a></li>
								<li><a href="#0">收藏夹</a></li>

							</ul>
						</div>
					</div>
				</div>
				<div class="public-header-centent">
					<div class="public-wrap">
						<div class="logo"><a href="index.html"></a></div>
						<div class="search" id="search">
							<input type="text" placeholder="搜索   商品/品牌/店铺" required="" v-model="search">
							<a :href="content" v-on:click="search_click">搜索</a>
						</div>
					</div>
				</div>
			</div>

			<div id="dtk_mian">
				<div class="year-bg">
					<div class="goods_screen_tab">
						<a href="index.html" class="all fl">首页 <i></i></a>
						<div class="label-list">

						</div>
						<span class="num"> 聚优惠</span>
					</div>
					<div class="cat-wrap main-container">
						<div class="cat-list clearfix">
							<span class="cat-lit-title">类目 : </span>
							<ul class="clearfix">
								<li class="lem theme-hover-color-1 " data-name="居家日用">
									<a class="theme-a" data-page="page=1" href="#8">
										居家日用 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="美食">
									<a class="theme-a" data-page="page=1" href="#8">
										美食 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="母婴">
									<a class="theme-a" data-page="page=1" href="#8">
										母婴 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="美妆">
									<a class="theme-a" data-page="page=1" href="#8">
										美妆 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="女装">
									<a class="theme-a" data-page="page=1" href="#8">
										女装 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="文娱车品">
									<a class="theme-a" data-page="page=1" href="#8">
										文娱车品 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="内衣">
									<a class="theme-a" data-page="page=1" href="#8">
										内衣 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="家装家纺">
									<a class="theme-a" data-page="page=1" href="#8">
										家装家纺 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="鞋品">
									<a class="theme-a" data-page="page=1" href="#8">
										鞋品 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="配饰">
									<a class="theme-a" data-page="page=1" href="#8">
										配饰 </a>
								</li>
								<li class="lem theme-hover-color-1 " data-name="箱包">
									<a class="theme-a" data-page="page=1" href="#8">
										箱包 </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="tag-wrap main-container clearfix cat-wrap">
						<div class="fixed-wrap fl theme-a-hover-active-border-top-1" id="tabIndex">
							<a id="1" href="javascript:void(0)" class="tag-fixed " v-bind:class="{ active: isActive==1 }">综合</a>
							<a id="2" href="javascript:void(0)" class="tag-fixed " v-bind:class="{ active: isActive==2 }">最新</a>
							<a id="3" href="javascript:void(0)" class="tag-fixed " v-bind:class="{ active: isActive==3 }">销量</a>
							<a id="4" href="javascript:void(0)" class="tag-fixed " v-bind:class="{ active: isActive==4 }">价格</a>
							<div class="sort-price-area fl">
								<form action="">
									<input type="hidden" name="kw" value="">
									<input type="hidden" name="s" value="t">
									<input type="hidden" name="u" value="1">
									<input type="hidden" name="r" value="l">

									<input class="min-price" name="jgqj1" value="" placeholder="￥">
									<span>-</span>
									<input class="max-price" name="jgqj2" value="" placeholder="￥">
									<button class="theme-bg-color-1 theme-hover-bg-color-3">确认</button>
									<a class="clear-price" href="#8">清除</a>
								</form>
							</div>
						</div>

					</div>


					<div class="cat-wrap main-container sx">
						<div class="cat-list sale-type clearfix">
							<ul class="clearfix">

								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>淘抢购</span></a>
								</li>
								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>聚划算</span></a>
								</li>
								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>精选品牌</span></a>
								</li>
								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>海淘</span></a>
								</li>
								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>金牌卖家</span></a>
								</li>
								<li class="theme-hover-color-1 ">
									<a class="theme-a" href="#8"><i class="theme-i"></i><span>天猫</span></a>
								</li>






							</ul>
						</div>
					</div>


					<div class="goods-list main-container new_comp">
						<ul class="clearfix" id="content">
							<li class="g_over" v-for="item in shop" :data-gid="item.goods_id">
								<a :href="'details.html?id='+item.goods_id" class="img" target="_blank">
									<img :src="item.pic" :alt="item.goods_name">
								</a>
								<div class="goods-padding">
									<div class="title">
										<a target="_blank" href="javascript:void(0)" :data-gid="item.goods_id">
											{{item.goods_name}} </a>
									</div>

									<div class="goods-num-type">
										<span class="old-price fl">原价 <i>{{item.price}}</i></span>

										<span class="goods-num fr">销量 <i>{{item.sales}}</i></span>

									</div>
									<div class="coupon-wrap clearfix">
										<span class="price"><i>￥</i><span>{{item.price_after_coupons}}</span></span>
										<b class="coupon fr"><i>{{item.price_coupons}}</i> 元券</b>
									</div>
								</div>
								<em class="border_l_b border"></em>
								<em class="border_l_t border"></em>
								<em class="border_r_b border"></em>
								<em class="border_r_t border"></em>
							</li>
						</ul>
					</div>
					<div id="pagination" class="pagination" style="text-align: center;">
						<ul>
							<li>首页</li>
							<li class="disabled">&lt;</li>
							<li class="active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>&gt;</li>
							<li>尾页</li>
							<li class="totalPage"><span>跳转到</span><input type="number"><span>页</span></li>
							<li class="totalPage">共&nbsp;50&nbsp;页</li>
							<li class="totalPage">每页&nbsp;10&nbsp;条</li>
							<li class="totalPage">合计&nbsp;500&nbsp;条数据</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="public-footer">
				<div class="top">
					<div class="clearfix public-wrap">
						<div class="footer-col">
							<h3>购物指南</h3>
							<a href="">购物流程</a>
							<a href="">会员介绍</a>
							<a href="">常见问题</a>
							<a href="">话费充值</a>
						</div>
						<div class="footer-col">
							<h3>售后保障</h3>
							<a href="">发票保障</a>
							<a href="">售后政策</a>
							<a href="">价格保护</a>
							<a href="">退款说明</a>
						</div>
						<div class="footer-col">
							<h3>支付方式</h3>
							<a href="">货到付款</a>
							<a href="">在线支付</a>
							<a href="">分期付款</a>
							<a href="">公司转账</a>
						</div>
						<div class="footer-col">
							<h3>商家服务</h3>
							<a href="">商家规则</a>
							<a href="">商家入驻</a>
							<a href="">商家中心</a>
							<a href="">运营服务</a>
						</div>
						<div class="footer-col">
							<h3>手机APP下载</h3>
							<div></div>

						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="public-wrap">

						<div class="footer-copyright">
							<div class="friendship-link">
								<a href="">淘宝</a>
								<span>|</span>
								<a href="">京东</a>
								<span>|</span>
								<a href="">天猫</a>
								<span>|</span>
								<a href="">苏宁易购</a>
								<span>|</span>
								<a href="">国美</a>
								<span>|</span>
								<a href="">聚划算</a>
								<span>|</span>
								<a href="">小红书</a>
								<span>|</span>
								<a href="">网易考拉</a>
								<span>|</span>
								<a href="">拼多多</a>
							</div>
							<span class="copyright">©2019&nbsp;版权归熊猫商城所有</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 加载动画 -->
		<div id="loading">
			<div class="text-wrapper">
				<div class="text part1">
					<div>
						<span class="letter">
							<div class="character">L</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">o</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">a</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">d</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">i</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">n</div> <span></span>
						</span>
						<span class="letter">
							<div class="character">g</div> <span></span>
						</span>
					</div>
				</div>
				<div class="how-to"><span>正在加载中，请您耐心等待...</span></div>
			</div>
		</div>
		<script src="../js/user.js"></script>
		<script src="../js/search.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#search',
				data: {
					search: '',
					content: ''
				},
				methods: {
					search_click: function() {
						if (this.search.length > 0) {
							this.content = 'search?search=' + this.search;
						} else {
							this.content = 'javascript:void(0)';
						}
					}
				}
			});
			$(document).keyup(function(event) {
				if (event.keyCode == 13) {
					//console.log(1)
					if (app.search.length > 0) {
						window.location.href = 'search?search=' + app.search;
					} else {
						app.content = 'javascript:void(0)';
					}
				}
			});
		</script>
	</body>
</html>
