@font-face {
	font-family: 'iconfont';
	src: url('../img/font/iconfont.eot');
	src: url('../img/font/iconfont.eot') format('embedded-opentype'),
		url('../img/font/iconfont.woff') format('woff'),
		url('../img/font/iconfont.ttf') format('truetype'),
		url('../img/font/iconfont.svg#iconfont') format('svg');
}

.main {
	width: 1200px;
	height: 460px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.banner {
	width: 1200px;
	height: 460px;
}

.banner-slide {
	width: 1200px;
	height: 460px;
	float: left;
	background-repeat: no-repeat;
}

.slide1 {
	background: url(../img/bg1.jpg);
}

.slide2 {

	background: url(../img/bg2.jpg);
}

.slide3 {
	background: url(../img/bg3.jpg);
}

.dots {
	position: absolute;
	bottom: 24px;
	right: 0;
	text-align: right;
	padding-right: 24px;
	line-height: 12px;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 8px;
	background-color: rgba(7, 17, 27, 0.4);
	cursor: pointer;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}

.dots span.active {
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background-color: #ffffff;
}

.banner .button {

	width: 40px;
	height: 80px;
	position: absolute;
	background: url(../img/arrow.png) center center no-repeat;
	top: 50%;
	margin-top: -40px;

}

.button:hover {
	background-color: #333;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.prev {
	left: 200px;
	transform: rotate(180deg);
	display: none;
}

.next {
	right: 0;
	transform: rotate(0deg);
	display: none;
}

.menu-box {
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 460px;
	z-index: 1;
}

.menu {
	width: 200px;
	height: 460px;
	left: 0;
	top: 0;
	padding-top: 6px;
	position: absolute;
	z-index: 2;
}

.menu .menu-item {
	font-size: 16px;
	height: 34px;
	line-height: 36px;
	padding: 0 24px;
	cursor: pointer;

}

.menu-item a {
	display: block;
	color: #fff;
	padding: 0 8px;
	height: 33px;
	font-size: 16px;
	position: relative;
}

.menu-item a i {
	position: absolute;
	right: 10px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 24px;
	top: 2px;
	font-style: normal;
	font-weight: normal;
	font-family: "iconfont";
}

.sub-menu {
	border: 1px solid #d9dde1;
	background: #fff;
	position: absolute;
	left: 200px;
	top: 0px;
	width: 730px;
	height: 458px;
	z-index: 581;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
	display: none;
}

.sub-inner-box {

	width: 652px;
	margin-left: 40px;
	overflow: hidden;

}

.inner-box {
	width: 100%;
	height: 100%;
	background: url(../img/fe.png) center center no-repeat;
	display: none;
}

.title {
	color: #f01414;
	font-size: 16px;
	line-height: 16px;
	margin-top: 28px;
	font-weight: bold;
	margin-bottom: 30px;
}

.sub-row {
	margin-bottom: 25px;
}
.sub-row a{
	color: #666;
}
.sub-row a:hover{
	color: #FF0036;
}
