/* 亲子节 */
.public-content-top .header {
	text-align: center;
	margin: 20px 0;
}

.public-content-top .centent {
	width: 1210px;
}

.public-content-top .centent a {
	display: block;
	float: left;
	width: 232px;
	font-size: 0;
	margin-right: 10px;
}
.public-content-top .centent a:hover {
	color: #999;
	opacity: 0.5;
}
.public-content-top .centent a img {
	width: 100%;
}
/* 国际商城 */
.International-stores-h {
	margin-top: 50px;
	height: 50px;
	line-height: 50px;

}

.public-content-center .International-stores-h span {
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 5px;
	float: left;
	color: #FFFFFF;
	background: #7A45E5;
}

.public-content-center .International-stores-h a {
	display: block;
	float: right;
	width: 70px;
	color: #000000;
	text-align: center;
}
.public-content-center .International-stores-h a:hover {
	
	color: #FF0036;
	
}
.public-content-center .list-item {
	width: 1210px;
}

.public-content-center .list-item li {
	float: left;
	width: 230px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #fff;
	font-size: 0;
}

.public-content-center .list-item li:hover {
	border: 1px solid#FF0D40;
}

.public-content-center .list-item li img {
	width: 100%;
	height: 300px;
}

.public-content-center .list-item a {
	font-size: 0;
}

/* 生活超市 */
.International-stores-left {
	position: relative;
	width: 235px;
	height: 540px;
	float: left;
}
.Supermarket .International-stores-left a{
	font-size: 0;
}
.Supermarket .International-stores-left a:hover{
	color: #999;
	opacity: 0.5;
}
.International-stores-left .stores-left-img {
	width: 100%;
	height: 540px;
}

.International-stores-left .left-banner {
	position: absolute;
	bottom: 80px;
	width: 218px;
	height: 64px;
}

.International-stores-left .left-banner .left-title-centent {
	display: table-cell;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.8);
	width: 70px;
	height: 64px;
	color: #FFF;
	text-align: center;
}

.International-stores-left .left-banner .left-title-centent .left-title {
	display: inline-block;
	width: 40px;
	height: 48px;
	line-height: 24px;
	font-size: 18px;
}

.International-stores-left .left-banner .right-title-centent {

	left: 70px;
	top: 0;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	width: 128px;
	height: 64px;
	color: #FFF;
	text-align: center;

}

.International-stores-left .right-title-absolute {
	margin-top: 8px;
}

.International-stores-left .left-banner .right-title-centent .right-title {
	display: block;
	line-height: 24px;
	font-size: 18px;
}

.div-floor-arrow {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.div-floor-arrow .floor-arrow {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 32px;
	height: 32px;
}

.International-stores-right .stores-right-top .item a {
	font-size: 0;
}

.International-stores-right .stores-right-top .top-ul li {
	float: right;
	width: 190px;
	height: 250px;
	margin-left: 2px;
	margin-bottom: 20px;
}

.International-stores-right .stores-right-top .item img {
	width: 100%;
	height: 100%;
}

.International-stores-right .stores-right-top .right-banner {
	float: right;
	width: 190px;
	height: 258px;
	font-size: 0;
}

.International-stores-right .stores-right-top .right-banner img {
	width: 190px;
	height: 258px;
}

.International-stores-right .stores-right-bottom .item a {
	font-size: 0;
}
.International-stores-right .stores-right-top  a:hover,
.International-stores-right .stores-right-bottom  a:hover{
	color: #999;
	opacity: 0.5;
}
.International-stores-right .stores-right-bottom .left-banner {
	float: left;
	width: 390px;
	height: 270px;
	margin-left: 8px;
	font-size: 0;
}

.International-stores-right .stores-right-bottom .left-banner img {
	width: 100%;
	height: 100%;
}

.International-stores-right .stores-right-bottom .bottom-ul li {
	float: left;
	width: 180px;
	height: 270px;
	margin-left: 9px;
}


.International-stores-right .stores-right-bottom .item img {
	width: 100%;
	height: 100%;
}

.ad-banner {
	font-size: 0;
}

.ad-banner .ad-img {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 1200px;
}
/* 酷玩数码 */
.brand .brand-list {
	width: 1200px;
}

.brand .brand-list .item {
	width: 119px;
	height: 100px;
	line-height: 100px;
	margin-right: 1px;
	margin-bottom: 1px;
	font-size: 0;
	float: left;
	background: #FFFFFF;
	text-align: center;
}

.brand .brand-list .item a {
	font-size: 0;

}
.brand .brand-list .item a:hover {
	color: #999;
	opacity: 0.5;

}
.brand .brand-list .item img {

	width: 100px;
	height: 50px;
	margin: 0 auto;
	vertical-align: middle;
}

.brand .brand-header {
	margin-bottom: 5px;
}

.brand .brand-header .left {
	width: 350px;
	height: 400px;
	padding: 0 20px 20px 20px;
	float: left;
	background: #FFFFFF;
}

.brand .brand-header .right {
	width: 350px;
	height: 400px;
	padding: 0 20px 20px 20px;
	float: right;
	background: #FFFFFF;
}

.brand .brand-header .left a,
.brand .brand-header .right a {
	display: block;
	width: 350px;
	height: 180px;
	margin-top: 20px;
	font-size: 0;
}

.brand .brand-header .left img,
.brand .brand-header .right img {
	width: 100%;
	height: 100%;
}

.brand .brand-header .middle {
	margin: 0 15px;
	padding: 20px 20px;
	width: 350px;
	height: 380px;
	float: left;
	background: #FFFFFF;
}

.brand .brand-header .middle a {
	font-size: 0;

}
.brand .brand-header .left a:hover,
.brand .brand-header .right a:hover,
.brand .brand-header .middle a:hover{
	color: #999;
	opacity: 0.5;
}
.brand .brand-header .middle .box {
	width: 350px;
	height: 60px;
	line-height: 60px;
	background: #FFFFFF;

}

.brand .brand-header .middle .box .box_title {

	float: left;
	font-size: 22px;
	color: #000000;
	line-height: 44px;
	margin-left: 15px;

}

.brand .brand-header .middle .box .box_arrow {

	float: left;
	width: 23px;
	height: 23px;
	margin: 11px 5px 0 5px;
	background-image: url(../img/box_arrow.png);
}

.brand .brand-header .middle .box .box_subtit {
	float: left;
	font-size: 14px;
	line-height: 44px;
	color: #999;

}

.brand .brand-header .middle .Newproducts {
	width: 350px;
	height: 320px;

}
/* 生活电器 */
.household-electrical-appliances .household-e-a-left {
	position: relative;
	height: 612px;
	width: 230px;
	float: left;
	border: 1px solid #fff;
}

.household-electrical-appliances .household-e-a-left:hover {
	border: 1px solid #FF0D40;
	color: #999;
	opacity: 0.5;
}

.household-e-a-left .stores-left-img {
	width: 100%;
	height: 100%;
}

.household-e-a-left .dianqi {
	font-size: 0;
}

.household-electrical-appliances .household-e-a-left .left-banner {
	position: absolute;
	bottom: 80px;
	width: 218px;
	height: 64px;
}

.household-e-a-left .left-banner .left-title-centent {
	display: table-cell;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.8);
	width: 70px;
	height: 64px;
	color: #FFF;
	text-align: center;
}

.household-e-a-left .left-banner .left-title-centent .left-title {
	display: inline-block;
	width: 40px;
	height: 48px;
	line-height: 24px;
	font-size: 18px;
}

.household-e-a-left .left-banner .right-title-centent {

	left: 70px;
	top: 0;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	width: 128px;
	height: 64px;
	color: #FFF;
	text-align: center;

}

.household-e-a-left .right-title-absolute {
	margin-top: 8px;
}

.household-e-a-left .left-banner .right-title-centent .right-title {
	display: block;
	line-height: 24px;
	font-size: 18px;
}

.household-e-a-left .div-floor-arrow {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.household-e-a-left .div-floor-arrow .floor-arrow {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 32px;
	height: 32px;
}

.household-electrical-appliances-right .list-ul .item a {
	font-size: 0;
}

.household-electrical-appliances-right .list-ul {
	width: 1200px;
}

.household-electrical-appliances-right .list-ul .item {
	float: left;
	width: 230px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #fff;
	font-size: 0;
}

.household-electrical-appliances-right .list-ul .item:hover {
	border: 1px solid#FF0D40;
}

.household-electrical-appliances-right .list-ul .item img {
	width: 100%;
	height: 300px;
}
