/* 顶部搜索框 */
.fix-search {
	position: fixed;
	width: 100%;
	height: 48px;
	top: -48px;
	/* top: 0; */
	left: 0;
	background: #FF0036;
	/* display: none; */
	z-index: 9;
}

.s-logo {
	float: left;
}

.s-logo a {
	display: inline-block;
	width: 104px;
	height: 40px;
	margin-top: 4px;
	margin-left: 100px;
	background: url(../img/slogo.png) center no-repeat;
}

.fix-search .search {
	width: 734px;
	height: 38px;
	float: left;
	margin-top: 4px;
	margin-left: 41px;
}

.fix-search .search input {
	width: 610px;
	height: 34px;
	outline: none;
	text-indent: 1em;
	float: left;
	box-shadow: none;
	border: 2px solid #FF0036;
}

.fix-search .search a {
	display: inline-block;
	width: 50px;
	height: 38px;
	line-height: 38px;
	background: #FF0036;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

/* 侧边栏 */
.toolbar {
	position: fixed;
	width: 44px;
	height: 212px;
	margin-bottom: -106px;
	right: 0;
	bottom: 50%;
	z-index: 10;
}

.toolbar .toolbar-item {
	display: block;
	width: 44px;
	height: 52px;
	margin-top: 1px;
	background-image: url(../img/toolbar.png);
	background-repeat: no-repeat;
}

.toolbar-ShoppingCart {
	background-position: 0 -372px;
}

.toolbar-CustomerService {
	background-position: 0 0;
}

.toolbar-app {
	position: relative;
	background-position: 0 -124px;
}

.toolbar-backTop {
	background-position: 0 -248px;
}

.toolbar-ShoppingCart:hover {
	background-position: 0 -434px;
}

.toolbar-CustomerService:hover {
	background-position: 0 -62px;
}

.toolbar-app:hover {
	background-position: 0 -186px;
}

.toolbar-backTop:hover {
	background-position: 0 -310px;
}

.toolbar-layer {
	display: none;
	position: absolute;
	width: 100px;
	height: 0;
	right: 45px;
	bottom: 0;
	background: url(../img/QRcode.jpg) center no-repeat;
}


/* 左侧导航 */
.fixed-position {
	width: 1200px;
	height: 1px;
	position: fixed;
	top: 50%;
	margin-top: -105px;
	left: 50%;
	margin-left: -600px;
}

.fixed-left {
	display: none;
	/* width: 66px; */
	width: 0;
	height: 170px;
	position: absolute;
	top: 0;
	left: -80px;
	background: rgba(0, 0, 0, 0.6);

}

.fixed-left ul li {
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	/* color: #fff; */
	color: #F5F5F5;
	cursor: pointer;
	height: 34px;
}

.fixed-left ul li:hover {
	background: rgba(0, 0, 0, 0.8);
}

.addcss {
	color: #fff;
	background: #FF0036;
}
