.public-footer .top {
	height: 218px;
	margin-top: 100px;
	padding-top: 100px;
	background: #FFFFFF;
}

.public-footer .footer-col {
	float: left;
	font-size: 16px;
	width: 180px;
	margin-right: 75px;
	color: #646464;
}

.public-footer .footer-col a {
	display: block;
	color: #8b8b8b;
	font-size: 16px;
	line-height: 1.8;
}

.public-footer .footer-col:last-child {
	margin-right: 0;
}

.footer-col div {
	width: 100px;
	height: 100px;
	margin-bottom: 12px;
	background: url(../img/QRcode.jpg) center no-repeat;
}

.public-footer .bottom {
	height: 100px;
	padding-top: 20px;
	background: #000000;
}

.footer-copyright .friendship-link a {
	color: #FFFFFF;
	font-size: 14px;
}

.public-footer .footer-col a:hover,
.footer-copyright .friendship-link a:hover {
	color: #FF0D40;
}

.footer-copyright .friendship-link span {
	color: #FFFFFF;
	font-size: 14px;
}

.copyright {
	display: block;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 14px;
}
