body {
	font-size: 12px;
	background: #FFFFFF;
}

/*导航区*/
.navBox {
	height: 40px;
	background-color: #333;
	color: #fff;

}

.shopClass {
	width: 190px;
	position: relative;
}

.shopClass h3 {
	line-height: 35px;
	text-align: center;
}


.nav {
	height: 40px;
	line-height: 40px;
}

.nav li {
	float: left;
	height: 40px;
}

.nav li a:hover {
	color: #999;
}

.nav a {
	height: 40px;
	display: inline-block;
	padding: 0 35px;
	color: #fff;
}

.nav .nobor {
	border-right: none;
}

.nav .active {
	background-color: #4593FD;
}

/*proIntroduce商品介绍*/
.hr-50 {
	height: 50px;
}

.gray {
	background-color: #f0f0f0;
}

.userPosition {
	font-size: 0;
	margin-top: 25px;
	margin-bottom: 15px;
}

.userPosition em,
.userPosition strong,
.userPosition a,
.userPosition span {
	font-size: 12px;
	color: #555;
}

.userPosition em {
	font-style: normal;
}

.userPosition a:hover {
	text-decoration: underline;
}

/*商品展示*/
.description-info {
	background-color: #fff;
}

.description-info .leftArea {}

.description-info .rightArea {
	width: 580px;

}


.description-imgs .big {
	position: relative;
	width: 400px;
	height: 400px;
	text-align: center;
	border: 1px solid #ccc;
}

.description-imgs .small_img {
	position: relative;
}

.description-imgs .mask {
	width: 120px;
	height: 120px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	display: none;
}

.description-imgs .fangdajing {
	width: 450px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 410px;
	border: 1px solid #ccc;
	overflow: hidden;
	display: none;
}

.description-imgs .fangdajing img {
	position: absolute;
	top: 0;
	left: 0;
}

.description-imgs .big .small_img img {
	width: 100%;
	height: 100%;
}

.description-imgs .small li {
	float: left;
	margin-left: -1px;
}

.description-imgs .small {
	padding: 10px 0 10px 40px;
	width: 420px;
	margin: 0 auto;
	box-sizing: border-box;
}

.description-imgs .small li img {
	border: 1px solid #ccc;
	width: 50px;
}

.description-imgs .small .active {

	position: relative;
}

.des-content {
	padding: 10px;
	padding-left: 30px;
}

.des-content h3 {
	font: bold 16px/22px;
	padding: 13px 25px;
}

.des-content .dt {
	width: 75px;
	float: left;
	color: #666;
	text-indent: 17px;
	line-height: 25px;
}

.des-content .dd {
	padding-left: 75px;
}

.des-content .dl {
	margin-bottom: 10px;
}

.des-money {
	font-size: 18px;
	color: #d70000;

}

.des-money em {
	font-style: normal;
	font-size: 12px;
}

/*产品介绍*/
.des-info .leftArea {
	width: 190px;
}

.des-info .rightArea {
	width: 790px;
}

.recommend {
	border: 1px solid #ccc;
	background-color: #fff;
}

.recommend .tit {
	height: 39px;
	border-top: 1px solid #FF0036;
	line-height: 39px;
	text-indent: 15px;
	font-size: 14px;
	background-color: #f3f3f3;
	text-align: center;
}





.rec-item .xt {
	color: red;
	margin-top: 5px;
}

.rec-item {
	padding: 10px;
}

/*详细介绍*/
.des-infoContent {
	border: 1px solid #ccc;
	background-color: #fff;
}

.des-tit {
	height: 39px;
	background: #FFFFFF;
	text-align: center;
	border: 1px solid #dfdfdf;
}

.des-tit li {
	float: left;
	width: 50%;
	font: 14px/39px;
	margin-left: -1px;
	border-left: 1px solid #ccc;
}

.des-tit .active {
	background-color: #FF0036;
	color: #fff;
	font-weight: bold;
	position: relative;
}

.des-tit .jieshao {
	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}

.des-tit .pingjia {

	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}

.ad {
	padding: 30px 0;
	text-align: center;
}


.info-img {
	padding: 20px 10px;
}

.info-img ul li img {
	width: 100%;
}

.center {
	display: block;
	margin: 0 auto;
}

/* 商品评价*/
.shopDes-tit {
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #666;
	padding-left: 10px;
	font-weight: bold;
}

.score-box {
	padding-left: 10px;
}

.score {
	float: left;
	margin-right: 10px;
}

.score em {
	font-size: 18px;
	color: #65657d;
	font-style: normal;
}

.score span {
	font-size: 50px;
	color: #ff8f00;
}

.score-speed {
	float: left;
	width: 450px;
	line-height: 16px;
	font-size: 12px;
	margin-top: 12px;
	position: relative;
}

.score-speed-text {
	height: 16px;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(to left, #FFAC6E, #FFFF9A);
}

.score-speed-text li {
	float: left;
}

.score-speed-text .speed-01 {
	width: 114px;
	text-indent: 26px;
}

.score-speed-text .speed-02 {
	width: 82px;
}

.score-speed-text .speed-03 {
	width: 76px;
}

.score-speed-text .speed-04 {
	width: 65px;
}

.score-num {
	position: absolute;
	left: 94%;
	top: -21px;
	width: 25px;
	height: 14px;
	line-height: 14px;
	background-color: #EE2F34;
	text-align: center;
	color: #fff;
}

.score-num i {
	border-width: 6px;
	border-style: solid dashed dashed dashed;
	border-color: #EE2F34 transparent transparent transparent;
	width: 0;
	height: 0;
	display: block;
	margin-left: 8px;
	margin-top: -2px;
}

.score-speed p {
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}

/*topBar*/
.leftArea {
	float: left;
}

.rightArea {
	float: right;
}

.topBar {
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
}

.topBar a:hover {
	color: red;
}

.collection {
	background: url(../img/collection.png) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
}

/*换购*/
.hg-icon {
	width: 55px;
	height: 18px;
	display: inline-block;
	background: url(../img/hg-icon.jpg) left top no-repeat;
	color: #fff;
	font-style: normal;
	text-indent: 16px;
	line-height: 18px;
	margin-right: 10px;
}

.hg {
	padding-top: 4px;
	display: inline-block;
}

/*送货*/
.des-position {

	padding-top: 15px;
	padding-bottom: 10px;
}

#getwhere {
	display: inline-block;
	padding: 5px 27px 5px 5px;
	border: 1px solid #ccc;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../img/getwhere.jpg) 92% center no-repeat;
	color: #666;
	font-size: 12px;
}

.theGoods {
	margin-left: 10px;
}

.des-item .dd {
	color: #000;
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	margin-right: 10px;
}

.des-item div:hover {
	border-color: #317ee7;
	cursor: pointer;
}

.des-item .dt {
	line-height: 35px;
}

.des-item .des-item-active {
	border-color: #317ee7;
}

.des-sm .dd {
	padding: 4px 10px;
	color: #666;
	margin-top: 5px;
}

.des-sm .dt {
	line-height: 36px;
}

/*数量*/
.des-content .des-number {
	border: 1px solid #b2b2b2;
	height: 32px;
	width: 82px;
	float: left;
	padding-left: 0;
}

.des-number div {
	height: 100%;
	float: left;
}

.reduction,
.plus {
	width: 15px;
	line-height: 32px;
	text-align: center;
	color: #333;
	cursor: pointer;
}

.reduction {
	border-right: 1px solid #b2b2b2;
	text-align: center;
	width: 20px;
}

.plus {
	border-left: 1px solid #b2b2b2;
	text-align: center;
	width: 20px;
}

.des-input {
	width: 40px;
	background: url(../img/inputadd.jpg) left top no-repeat;
	cursor: pointer;
}

.des-input input {
	width: 100%;
	height: 95%;
	line-height: 32px;
	text-align: center;
	border: none;
	outline: none;
}

.xg {
	float: left;
	line-height: 32px;
	padding-left: 10px;
	color: #666;
	font-weight: bold;
}


.des-content .dt-num {
	line-height: 32px;
}


.shopping-btn,
.buy-btn {
	display: inline-block;
	width: 180px;
	height: 40px;
	line-height: 40px;
}

.shopping-btn {
	background-color: #ff0036;
	border: 1px solid #ff0036;
	color: #fff;
}

.buy-btn {
	background-color: #ffeded;
	border: 1px solid #FF0036;
	color: #FF0036;
}

.line {
	width: 0;
	height: 90px;
	overflow: hidden;
	background-color: #ccc;
	display: inline-block;
	margin: 0 40px;
}

.shopping-btn,
.buy-btn,
.line {
	vertical-align: middle;
}

.shop-buy {
	text-align: center;
}

/*满意度切换*/
.review-tab {
	line-height: 32px;
	background-color: #f2f2f2;
}

.review {
	line-height: 32px;
	height: 100%;
	padding-left: 20px;
}

.review li {
	float: left;
	margin-right: 40px;
}

.review li a {
	display: inline-block;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
}

.review .active {
	color: #317de6;
	font-weight: bold;
	border-bottom: 2px solid #317de6;
	margin-bottom: -2px;
	position: relative;
}

.review-sort a {
	display: inline-block;
	line-height: 20px;
	height: 20px;
	border: 1px solid #ccc;
	padding: 0 20px 0 6px;
	background: url(../img/sort.png) 58px center no-repeat;
}

.review-sort {
	padding-right: 5px;
}

/*用户评价*/
.eva-userhead {
	width: 150px;
	text-align: center;
}

.evaHead img {
	width: 60px;
	height: 60px;
	display: inline-block;
}

.eva {
	padding: 20px 0;
	position: relative;
}

.eva p {
	color: #666;
	line-height: 20px;
}

.eva-time {
	color: #ababab;
	position: absolute;
	right: 25px;
	top: 25px;
}

.eva-count {
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
}

.starsBox {
	height: 30px;
	line-height: 30px;
}

.stars {
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url(../img/collection.png) left top no-repeat;
	display: inline-block;
	margin-right: 1px;
}

.eva-cont p {
	line-height: 30px;
}

.eva-cont {
	padding-left: 20px;
	padding-right: 20px;
	width: 75%;
}

.ding,
.cai {
	color: #085c9b;
}

.pages {
	text-align: right;
	padding-right: 20px;
	margin: 20px 0;
}

/*page*/
.page {
	text-align: center;
}

.page a {
	height: 24px;
	display: inline-block;
	line-height: 24px;
	border: #ccc solid 1px;
	padding: 0 12px;
	margin: 0 2px;
}

.page a:hover {
	background-color: #181818;
	color: #fff;
}

.page .hl {
	display: inline-block;
	padding: 0 12px;
	margin: 0 2px;
}

.page .morePage {
	padding-left: 14px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.page input[type="text"] {
	width: 29px;
	padding: 0 3px;
	border: #ccc solid 1px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}

.page input[type="button"] {
	width: 44px;
	padding: 0 3px;
	border: #ccc solid 1px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background-color: cornflowerblue;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.hot {
	width: 52px;
	height: 52px;
	background: url(../img/hot.png) left top no-repeat;
	position: absolute;
	right: 0;
	top: 0;
}
