*{
	padding: 0;
	margin: 0;
}
body{
	background: #F5F5F5;
}
a{
	text-decoration: none;
	cursor: pointer;
}
ul{
	list-style: none;
}
.public-wrap{
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    zoom: 1;
}
.comWidth {
	width: 1000px;
	margin: 0 auto;
}